<div class="d-flex flex-column min-vh-100"></div>
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 huce:
        <a class="text-body" href="https://www.facebook.com/profile.php?id=100068549482080">Dao Ngoc Huy</a>
    </div>
    <!-- Copyright -->
</footer>
</div>